@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
section {
    margin-top: 50px;
}
body {
    position: relative;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(243, 242, 238);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.557);
    z-index: 10;
}
.menu {
    display: flex;
}
.logo {
    color: #2793ae;
    font-weight: 700;
    font-size: 25px;
}
.logo span {
    color: #273e60;
}
.menu li {
   margin: 0 15px;
   list-style: none;
}
.menu li a {
    font-size: 14px;
    text-decoration: 0;
    color: #6f6f6f;
    position: relative;
}
.menu li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color:  #2793ae;
    transition: 0.5s;
}
.menu li a:hover::before {
    width: 100%;
}
.menu li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
   background-color:  #2793ae;
    transition: 0.5s;
}
.menu li a:hover::after {
    width: 100%;
}
.menu li a:hover {
    color: #000000;
}



/* home CSS */
#home {
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: calc(100vh - 50px);
    justify-content: space-between;
    background-color: rgba(207, 198, 198, 0.08);
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.350);
    
}
#home .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;left: 100px;
}
#home .left h4 {
    font-size: 21px;
    color: #2793ae;
    font-family: "Lora", serif;
    font-weight: 600;
    text-decoration: underline;
}
#home .left h1 {
    font-size: 34px;
}
#home .left p {
    font-size: 16px;
    color: #050202;
}
#home .left button {
     margin-top: 20px;
     width: fit-content;
     padding: 5px 10px;
     background-color: #000;
     border: 0;
     transition: 0.5s;
     position: relative;
     cursor: pointer;
}
#home .left button  a {
    text-decoration: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
  font-family: "ABeeZee", sans-serif;

}
#home .left button::before {
    position: absolute;
    left: 5px;
    top: 5px;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color:   #2793ae;;
}
#home .left button:hover a{
   letter-spacing: 1px;
}

#home .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .right img {
    width: 80%;
    animation: animate 2s linear;
    transition: 0.5s;
    background: linear-gradient(45deg, #2793ae, #273e60);
    border-radius: 50%;
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.918);
}

/* animation image */

@keyframes animate {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* menu CSS */

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(207, 198, 198, 0.08);
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.350);
    padding: 50px 10px;
    position: relative;
    bottom: 9px;
}
.mini_title {
    margin-top: 25px;
    font-size: 16px;
    font-size: 21px;
    color: #2793ae;
    font-family: "Lora", serif;
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize;
    margin-bottom: px;
    position: relative;
    bottom: 50px;
}
#menu .title{
    position: relative;
    bottom: 40px;
    right: 8px;
    font-size: 34px;
    color: black;
}

.dishes {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content:space-around;
    
}
.dishes .dish {
    height: 280px;
    width: 30%;
    background-color: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    margin-bottom: 35px;
    transition: 0.5s;
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.918);
    background: linear-gradient(45deg, #2793ae, #273e60);
    border: 1px solid black;
}
.dishes .dish:hover{
    background: linear-gradient(45deg, #273e60,  #2793ae);
    transition: 1s;
}
.dishes .dish  img {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.89);
}
.dishes .dish p {
    text-align: center;
    font-size: 18px;
    color: whitesmoke;

}
.dishes .dish h2{
    color: whitesmoke;
    text-decoration: underline;
}
.dishes .dish a {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: 0;
    background-color:   #2793ae;;
    padding: 5px 60px;
    color: #fff;
    border-radius: 10em;
    padding: 15px 30px;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0  rgb(22, 18, 159);
    transition: 1s;
    font-family: "ABeeZee", sans-serif;
    font-weight: 500;
}
.dishes .dish a:hover{
    box-shadow: inset 5px 5px 10px#91eae4, inset -5px -5px 10px  rgb(7, 82, 220);
    color: #ffffff;
    transition: 0.8s;
    background-size: 320%;
    background-position: right center;


}
/*Scrollbar CSS*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color:   #2793ae;;
}




.statistiques {
    position: relative;
    bottom: 50px;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(207, 198, 198, 0.08);
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.350);
    padding: 20px 10%;
    position: relative;
    top: 1px;
   
  }
  .statistiques span {
    text-align: center;
  }
  .statistiques span h2 {
    color: #2793ae;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .statistiques span p {
    color: #999;
    text-transform: capitalize;
  }
  
  .advertise{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 50px auto;
    background-color: rgba(207, 198, 198, 0.08);
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.350);
    padding: 80px;
}
.advertise p{
    color: black;
    position: relative;
    bottom: 35px;
    right: 5px;
    font-size: 30px;
    font-weight: 900;

}


.advertise img{
  position: relative;
  height: 300px;
  width: 430px;
  border-radius: 10%;
  border: 1px black solid;
  position: relative;
  top: 80px;
  margin: 20px;
  
  
  

  
}
.advertise h1{
  position: absolute;
  top: 2px;
  font-size: 21px;
    color: #2793ae;
    font-family: "Lora", serif;
    font-weight: 600;
    text-decoration: underline;
}
.advertise .text{
    width: 220px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 20px;
    position: relative;
    bottom: 95px;
    
}
.advertise .alll{
  
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin: -70px;
 
}

.text h2{
   text-decoration: underline;
   font-family: cursive;
   
}
.text p{
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.text h6{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:12px;
   font-weight: 600;
   position: relative;
   top: 93px;
   text-decoration: underline;
}



.text .butn1{
    margin: 15px;
    height:28px;
    width: 70px;
    border-radius: 360px;
    background-color: #17b409;
    justify-content: center;
    align-items: center;
    font-family: 'Damion', cursive;
    border: none;
    font-size: 16px;
    padding: 5px;
    color: rgb(255, 255, 255);
    transition: 0.8s;
    border-radius: 30px;
    cursor: pointer;
  position: relative;
  bottom: 11px;
  font-family: "ABeeZee", sans-serif;
  
    

 }
 .text .butn1:hover{
    box-shadow: inset 5px 5px 10px#0a5f02, inset -5px -5px 10px#0a5f02;
    color: #ffffff;
  transition: 0.8s;
  background-size: 320%;
  background-position: right center;
    
 }

 .text .butn2{
    margin: 15px;
    height: 62px;
    width: 100px;
    border-radius: 360px;
    background-color: #0b1fd3;
    justify-content: center;
    align-items: center;
    font-family: 'Damion', cursive;
    border: none;
    font-size: 16px;
    padding: 5px;
    color: rgb(255, 255, 255);
    transition: 0.8s;
    border-radius: 30px;
    cursor: pointer;
 position: relative;
 bottom: 35px;
 font-family: "ABeeZee", sans-serif;

 
 }

 .text .butn2:hover{
    box-shadow: inset 5px 5px 10px#060875, inset -5px -5px 10px#060875;
    color: #ffffff;
  transition: 0.8s;
  background-size: 320%;
  background-position: right center;
    
 }











/* about us CSS */

#about_us {
    display: flex;
    align-items: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    padding: 50px 10%;
    width: 100%;
    background-color: rgba(207, 198, 198, 0.08);
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.350);
    position: relative;
    bottom: 17px;
}
#about_us h2{
    font-size: 34px;
    color: black;
    position: relative;
    bottom: 36px;
    right: 7px;
}
.about {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 70vh;
}
.about .left {
     width: 40%;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}
.about .left img {
    width: 80%;
    border: 1px black solid;
    border-radius: 50%;
    background: linear-gradient(45deg, #2793ae, #273e60);
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.918);
}
.about .right {
    width: 60%;
}
.about .right h3 {
    font-size:35px;
    color: #273e60;
    margin: 10px 0;
}
.about .right p {
    font-size: 17px ;
    color: #070101;
}

.about .right a{
    font-size: 14px;
    text-decoration: 0;
    background-color:   #2793ae;;
    padding: 5px 60px;
    color: #fff;
    border-radius: 10em;
    padding: 15px 30px;
    box-shadow: inset 0 0 0 0  rgb(22, 18, 159);
    transition: 1s;
    position: relative;
    top: 30px;
  font-family: "ABeeZee", sans-serif;
    
}
.about .right a:hover{
    box-shadow: inset 5px 5px 10px#91eae4, inset -5px -5px 10px  rgb(7, 82, 220);
    color: #ffffff;
    transition: 0.8s;
    background-size: 320%;
    background-position: right center;

}


/* comment section CSS */

.comment_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    padding: 0 10%;
    background-color: rgba(207, 198, 198, 0.08);
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.350);
    position: relative;
    bottom: 30px;
}

.comments {
    display: flex;
    justify-content: space-around;
    width: 120%;
    flex-wrap: wrap;
    
}

.comment_section h2{
    color: black;
    position: relative;
    bottom: 35px;
    right: 5px;
    font-size: 34px;
}
.comments  .comment div {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   
}
.comments  .comment div img {
   width: 45px;
   height: 45px;
   border: 2px solid#ffffff;
   border-radius: 50%;
   box-shadow: 0px 0px 4px white;
}
.comments  .comment {
    width: 30%;
    border: 1px solid #050000;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.918);
    


}
.comments  .comment div h4 {
    margin-left: 15px;
    font-size: 14px;
    color: #005688;
}
.comments  .comment p {
    font-size: 15px;
    color: #070101;
}
/* reservation CSS */


/* footer CSS */

footer {
    background-color: rgba(0,0,0,0.05);
    
    box-shadow: 0px 0px 15px  rgba(8, 0, 0, 0.350);
}
footer .services_list {
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.service img {
    width: 40px;
    background-color: #2793ae;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;

}
.service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px auto;
}
.service  p {
    color: #333;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 2px;
    width: 100%;
}
.footer_text {
    text-align: center;
    font-size: 15px;
    padding: 8px 0;
}
.footer_text span {
    color: #4400e3;
}
.toggle_menu {
    display: none;
}
/* Responsive */





body{
    background-color: rgba(243, 242, 238, 0.53) ;

}






.popup {
    display: none;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(22, 200, 13, 0.724);
    padding: 20px;
    z-index: 1000;
    border-radius: 15px;
    background-color: rgba(22, 200, 13, 0.724);
    box-shadow: 0px 0px 15px  rgba(22, 200, 13, 0.724);
    animation: fadeInOut 2s forwards;

  }
  .popup p{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }




   

















  .popu{
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.83);
    box-shadow: 0px 0px 5px  rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    z-index: 1000;
    animation: fadeInOut 2s forwards;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }

  .popu p{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: whitesmoke;
  }
  
  
 


/*ta9aaaa*/

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(45deg, #2793ae, #273e60);
    padding: 70px;
    width: 450px;
    height: 450px;
    border-radius: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: background 0.3s ease;
    margin: 100px;
    position: relative;
    bottom: 85px;
    right: 85px;
    border: 1px solid black;
    border-radius: 40px;
    
  }
  .form:hover{
    background: linear-gradient(45deg, #273e60,  #2793ae);
    transition: 1s;

  }
  
  
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: white;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10em;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: white;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10rem;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid rgb(32, 26, 218);
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    background: transparent;
    transition: ease-out 0.5s;
    border: 2px solid;
    border-radius: 10em;
    box-shadow: inset 0 0 0 0  rgb(22, 18, 159);
    margin: 20px 0 10px 0;
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 royalblue;
  }
  
  .button-submit:active {
    transform: scale(0.9);
  }
  
  .p {
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 5px 0;
  }
  
  

  .rgstr{
    text-decoration: none;
    text-shadow: 0px 0px 5px whitesmoke;
  }
  
  .rgstr:hover{
    text-decoration: underline rgb(0, 0, 0);
  }

  .button-submit{
    margin: 15px;
    height: 52px;
    width: 270px;
    border-radius: 360px;
    background: linear-gradient(45deg, #273e60,  #2793ae);
    justify-content: center;
    align-items: center;
   
    font-family: 'Damion', cursive;
    border: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    transition: 0.8s;
    margin-left:110px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    top: 10px;
    right: 2px;
  }
  .button-submit:hover{
    box-shadow: inset 5px 5px 10px#91eae4, inset -5px -5px 10px  rgb(7, 82, 220);
    color: #ffffff;
    transition: 0.8s;
    background-size: 320%;
    background-position: right center;
      
}


body{
    background-color: rgba(243, 242, 238, 0.53) ;

}


#windw{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.612); 


}

#dakhel{
    background-color: rgb(250, 242, 242);
    margin: 6% auto; 
    padding: 10px;
    border: 1px solid #888;
    width: 500px; 
    border: 1px solid black;
    border-radius: 40px;
    height: 500px;
    box-shadow: 0px 0px 15px  rgba(255, 255, 255, 0.918);
}



#open{
    cursor: pointer;
}


#close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus{
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}


.form1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    height: 460px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    color: #fff;
    margin: 80px;
    position:relative;
    bottom: 70px;
    right: 64px;
    font-size: 1.2em;
 

  }
  
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #f8f9f9;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #ecf0f1;
  }
  
  .message, 
  .signin {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .message{
    position: relative;
    bottom: 20px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline rgb(0, 0, 0);
  }
  
  .signin a {
    text-decoration: none;
    text-shadow: 0px 0px 5px whitesmoke;
    color: whitesmoke;
    cursor: pointer;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form1 label {
    position: relative;
  }
  
  .form1 label .input {
    background-color: #fdfafa;
    color: #070000;
    width: 100%;
    padding: 20px 5px 05px 10px;
    outline: 0;
    border: 1px solid rgba(14, 12, 12, 0.886);
    border-radius: 30px;
    transition: 1s;
    position: relative;
    right: 10px;
    
  }
  .form1 select{
    background-color: #fdfafa;
    color: #070000;
    width: 100%;
    padding: 20px 5px 05px 10px;
    outline: 0;
    border: 1px solid rgba(14, 12, 12, 0.886);
    border-radius: 30px;
    transition: 1s;
    font-size: 1.2em;
    font-weight: 2000;
    
  }
  
  .form1 label .input + span {
    color: rgba(0, 0, 0, 0.922);
    position: absolute;
    left: 12px;
    top: 5px;
    font-size: 1.2em;
    font-weight: 2000;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form1 label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 1.2em;
  }
  
  .form1 label .input:focus + span,
  .form1 label .input:valid + span {
    color: #0790bd;
    top: 5px;
    font-size: 1.2em;
    font-weight: 600;
  }
  
  .input {
    font-size:10px;
  }
  
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }


  .submit{
    
    height: 52px;
    width: 270px;
    border-radius: 360px;
    background: linear-gradient(45deg, #273e60,  #2793ae);
    justify-content: center;
    align-items: center;
   
    font-family: 'Damion', cursive;
    border: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    transition: 0.8s;
    margin-left:110px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    right: 40px;
    top: 3px;
    
  }
  .submit:hover{
    box-shadow: inset 5px 5px 10px#91eae4, inset -5px -5px 10px  rgb(7, 82, 220);
    color: #ffffff;
    transition: 0.8s;
    background-size: 320%;
    background-position: right center;
      
}




body{
    background-color: rgba(243, 242, 238, 0.53) ;

}



#windw1{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.612); 

}

#dakhel1{
    background: linear-gradient(45deg, #2793ae, #273e60 );
    margin: 6% auto; 
    padding: 10px;
    border: 1px solid #888;
    width:500px; 
    border: 1px solid black;
    border-radius: 40px;
    height: 500px;
    box-shadow: 0px 0px 15px  rgba(253, 252, 252, 0.918);
}

#dakhel1:hover{
    background: linear-gradient(45deg, #273e60,  #2793ae);
    transition: 1s;
}

#open1{
    cursor: pointer;
}











@media (max-width:964px) {
    header .menu {
        display: none;
    }
    header {
        padding: 0 20px;
    }
    
    #dakhel{
      position: relative;
      top: 40px;
      width: 470px;
      height: 470px;
    }
    .form{
        width: 400px;
        position: relative;
        bottom:100px;
        left: -75px;
    }
    .form .button-submit{
        position: relative;
        left: 20px;
    }
    

    #dakhel1{
        width: 470px;
        height: 470px;
        position: relative;
        top: 40px;
        
    }
   .flex ,.input{
    position: relative;
    right: 25px;
   }



    .form1 ,.input{
        width: 400px;
        
        
    }
.form1 ,.title{
    position: relative;
    bottom: 45px;
}
.form1 .submit{
    position: relative;
    right: 66px;
}











    #home {
        flex-direction: column;
        padding: 12px;
        height: fit-content;

    }
    #home .left , #home .right  {
        width: 100%;
        padding: 0;
    }
    #home .left {
        margin: 100px 0;
    }
    #home .left h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    #home .left h4 {
        font-size: 15px;
    }
    #home .left p {
        font-size: 16px;
        margin-right: 100px;
    }
    #menu .dishes .dish {
        width: 100%;
        max-width: 260px;
    }
    #about_us {
        padding: 35px ;
        height: auto;
    }
    #about_us .about {
        flex-direction: column;
       height: fit-content;
    }
    #about_us .left , #about_us .right {
        width: 100%;
    }
    #about_us .left {
        height: fit-content;
    }
    #about_us .left img {
        width: 50%;
    }
    #about_us .right {
        text-align: center;
        padding: 20px;
    }
    .comment_section {
        height: auto;
        padding: 30px;
        padding-right: 50px;
        padding-left: 50px;
    }
    .comment_section .comments  .comment{
        width: 100%;
        margin-top: 20px;
    }
    .services_list .service {
        padding: 0 50px;
    }
    .toggle_menu {
        display: flex;
        height: 40px;
        width: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         cursor: pointer;
    }
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color:  #4400e3;
        border-radius: 6px;
        box-shadow: 0 10px 0  #4400e3;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle_menu.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0  #4400e3;
    }
    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color:  #4400e3;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);
      
    }
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
    }
    header .menu.responsive li {
        margin: 15px 0;
    }

}
